/* src/styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.border-indicator {
  @apply absolute bottom-0 h-0.5 bg-blue-600 transition-all duration-300;
}
.hide-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
